@import url('http://fonts.googleapis.com/css?family=Nixie+One');
body{
    text-align: center;
}
footer{
  margin-top: 5px;
  bottom: 0;
  background-color: $secondary-color;
}
footer p{
  font-size: 13px;
  color:white;
  padding: 10px 0;
  margin: 0;
}
.logo{
  width: 150px;
}
.bar {
  h3{
    text-transform: uppercase;
  }
  span{
    font-size: 18px !important;
  }
  .adresse{
    font-style: italic;
    font-size: 13px;
  }
}

//------------------------------ SECTION BOT -----------------------------------------------

.bot{
  img{
    width: 360px;
  }
  .bot p{
    margin-bottom: 25px;
  }
}
.quartier{
  background-color: $secondary-color;
  color: white;
  p{
    margin-bottom: 35px;
  }
  .button{
    margin: 5px;
  }
}
.quartier h3 ,.bot h3{
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 40px;
}
.jumbo{
  color: white;
  background-image: url('https://source.unsplash.com/collection/669012');
  background-size: cover;
  background-attachment: fixed;
  @include breakpoint(small down) {
    background-attachment: scroll;
    background-position: center center;
  }
  .row{
  padding: 140px 0;
  }
  h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
    @include breakpoint(small down) {
      font-size: 21px;
    }
  }
}

.recents h2{
  text-transform: uppercase;
}
.recents, .bot{
  padding: 35px 0 15px 0;
}
.image-overlay{
  background-color: rgba(0,0,0,0.3);
  width:100%;
  height: 100%;
}
#div_horloge{
  color: $secondary-color;
  font-size: 14px;
}
.top-bar, .top-bar ul{
  background-color: $secondary-color;
}
.menu-text{
  color: white;
}
.label{
  color: $secondary-color;
  font-size: 19px;
}
.subheader{
  color: white;
}
.ferme {
  background-color: rgba(0,0,0,0.5);
}
