body{
    text-align: center;
}

.bars span{
    font-size: 18px !important;
}

.jumbo{
    background-image: url('https://source.unsplash.com/collection/669012');
    background-size: cover;
    background-attachment: fixed;
    padding: 135px 0;
    margin-bottom: 30px;
}

.jumbo h2{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
