{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Beer - Le chat bot qui vous trouve votre happy hour</title>
    <meta name="description" content="Happy Beer vous trouve tous les happy hours de la région afin de trouver une pinte à prix discount et un minimum de temps.">
    <meta name="robots" content="index, nofollow">
    <meta name="author" content="Denis Reis & Demian Ortega">

    <meta property="og:type" content="article">
    <meta property="og:title" content="Happy Beer - Le chat bot qui vous trouve votre happy hour">
    <meta property="og:site_name" content="Happy Beer">
    <meta property="og:url" content="https://bidays.github.io/happyhour/">
    <meta property="og:image" content="https://raw.githubusercontent.com/bidays/happyhour/master/src/assets/img/logo_happy_opengraph.jpg">
    <meta property="article:published_time" content="2017-04-13">
    <meta property="article:author" content="https://m.me/happybeerlille">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DenisRDA">
    <meta name="twitter:title" content="Happy Beer - More Beer, More Money">
    <meta name="twitter:description" content="Happy Beer vous trouve tous les happy hours de la région afin de trouver une pinte à prix discount et un minimum de temps.">

    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{root}}assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{root}}assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
